---
---

// Variables
//----------------------------------------------------------------------------------------------------------------------

$h1Size: 16;
$h2Size: 8;
$h3Size: 5.6;
$h4Size: 3.6;
$bodyTextSize: 1.6;
$importantButtonTextSize: 3.4;

$breakpoint_mobile: 480;
$breakpoint_desktop: 960;

$color_primary: {{theme.colors.purple}};
$color_secondary: {{theme.colors.cyan}};

$bgImageSize: 80;
$bgImageHeight: 60;
$bgImageOffset: 10;

// Functions/Mixins
//----------------------------------------------------------------------------------------------------------------------

@function normalSize($size) {
  @return #{$size}vw
}
@function desktopSize($size) {
  $vwAt1000px: 1000/100;
  $vwAtBreakpoint: $vwAt1000px*($breakpoint_desktop/1000);
  $factor: 16/$vwAtBreakpoint;
  @return #{$size/$factor}rem;
}
@function mobileSize($size) {
  $vwAt1000px: 1000/100;
  $vwAtBreakpoint: $vwAt1000px*($breakpoint_mobile/1000);
  $factor: 16/$vwAtBreakpoint;
  @return #{$size/$factor}rem;
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

// helpers
//----------------------------------------------------------------------------------------------------------------------

// Base Styles/sizes
//----------------------------------------------------------------------------------------------------------------------


// Default
html.homepage {
  overflow: auto !important;
}

.header-1 { font-size: normalSize($h1Size); }
.header-2 { font-size: normalSize($h2Size); }
.header-3 { font-size: normalSize($h3Size); }
.header-4 { font-size: normalSize($h4Size); }
html.homepage body {
  font-size: normalSize($bodyTextSize);
}
.button.is-important {
  font-size: normalSize($importantButtonTextSize);
}
.section.bg-image {
  background-size: normalSize($bgImageSize) !important;
  background-position: 50% normalSize($bgImageOffset) !important;
  height: normalSize($bgImageHeight);
}
.getting-started-card {
  padding: normalSize(8) 0 0 0;

  .card-container {
    width: normalSize(45);
    
    &:hover, &.mock-hover {
      .box {
        transform: translate(normalSize(-10), normalSize(-10)) rotate(-20deg);
        &.card-shadow {
          transform: translate(normalSize(-1), normalSize(-1)) rotate(-2deg);
        }
      }
    }
  }
  .box {
    figure.image {
      margin-bottom: normalSize(3);
    }

    &.card-shadow {
      padding-bottom: normalSize(1.25);

      .shadow-text {
        font-size: normalSize(2.5);
      }
      svg {
        margin-left: normalSize(0.25);
      }
    }
  }
}

// Desktop
@media screen and (min-width:#{$breakpoint_desktop}px) {

  .header-1 { font-size: desktopSize($h1Size); }
  .header-2 { font-size: desktopSize($h2Size); }
  .header-3 { font-size: desktopSize($h3Size); }
  .header-4 { font-size: desktopSize($h4Size); }
  html.homepage body {
    font-size: desktopSize($bodyTextSize);
  }
  .button.is-important {
    font-size: desktopSize($importantButtonTextSize);
  }
  .section.bg-image {
    background-size: desktopSize($bgImageSize) !important;
    background-position: 50% desktopSize($bgImageOffset) !important;
    height: desktopSize($bgImageHeight);
  }
  .getting-started-card {
    padding: desktopSize(8) 0 0 0;

    .card-container {
      width: desktopSize(45);

      &:hover, &.mock-hover {
        .box {
          transform: translate(desktopSize(-10), desktopSize(-10)) rotate(-20deg);
          &.card-shadow {
            transform: translate(desktopSize(-1), desktopSize(-1)) rotate(-2deg);
          }
        }
      }
    }
    .box {
      figure.image {
        margin-bottom: desktopSize(3);
      }

      &.card-shadow {
        padding-bottom: desktopSize(1.25);

        .shadow-text {
          font-size: desktopSize(2.5);
        }
        svg {
          margin-left: desktopSize(0.25);
        }
      }
    }
  }

}

// Mobile
@media screen and (max-width:#{$breakpoint_mobile}px) {

  .header-1 { font-size: mobileSize($h1Size); }
  .header-2 { font-size: mobileSize($h2Size); }
  .header-3 { font-size: mobileSize($h3Size); }
  .header-4 { font-size: mobileSize($h4Size); }
  html.homepage body {
    font-size: mobileSize($bodyTextSize);
  }
  .button.is-important {
    font-size: mobileSize($importantButtonTextSize);
  }
  .section.bg-image {
    background-size: mobileSize($bgImageSize) !important;
    background-position: 50% mobileSize($bgImageOffset) !important;
    height: mobileSize($bgImageHeight);
  }
  .getting-started-card {
    padding: mobileSize(10) 0 0 0;

    .card-container {
      width: mobileSize(45);

      &:hover, &.mock-hover {
        .box {
          transform: translate(mobileSize(-6.6), mobileSize(-6.6)) rotate(-8deg);
          &.card-shadow {
            transform: translate(mobileSize(-1), mobileSize(-1)) rotate(-4deg);
          }
        }
      }
      .box {
        transform: translate(mobileSize(-6.6), mobileSize(-6.6)) rotate(-8deg);
        &.card-shadow {
          transform: translate(mobileSize(-1), mobileSize(-1)) rotate(-4deg);
        }
      }
    }
    .box {
      figure.image {
        margin-bottom: mobileSize(3);
      }

      &.card-shadow {
        padding-bottom: mobileSize(1.25);

        .shadow-text {
          font-size: mobileSize(2.5);
        }
        svg {
          margin-left: mobileSize(0.25);
        }
      }
    }
  }

}





// Components
//----------------------------------------------------------------------------------------------------------------------

// Important (round) button
.button.is-important {
  @include horizontal-gradient($color_primary, lighten($color_primary, 25%));
  border: none;
  color: inherit;
  &.is-outlined {
    border: thin solid rgba(255, 255, 255, 0.75);
    background: none;
    &:hover {
      border: thin solid rgba(255, 255, 255, 1);
    }
  }
}

// getting started cards
.getting-started-card {
  text-align: center;

  .card-container {
    position: relative;
    display: inline-block;
    cursor: pointer;

  }
  .box {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 10;
    position: relative;
    transition: transform 0.15s;
    transform: translate(0, 0);

    figure.image {
      margin-bottom: 3rem;
    }

    &.card-shadow {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color_primary;
      color: white;
      display: flex;
      flex-direction: row;

      .shadow-text {
        align-self: flex-end;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}


.section, .section.has-background-light {
  color: #444444;
}

.section.has-background-dark, .section.has-background-primary {
  color: #ffffff;
}

.section.bg-image {
  background-repeat: no-repeat !important;
}

.footer a {
  color: inherit;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}



